<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/Style.css">
</head>

<body>

    <div class="login-card">
        <h2>Войти в систему</h2>
        {% if error %} <div class="error-message"> {{ error }} </div> {% endif %}
        <form action="/auth/" method="post">
            <div class="input-group">
                <label for="username">Логин</label>
                <input type="text" id="username"  name="username" class="text-field" placeholder="Введите ваш логин" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" class="text-field" placeholder="Введите пароль" required>
            </div>
            <div class="action-group">
                <button type="submit" class="btn-login">Войти</button>
                <a href="#" class="forgot-password">Забыли пароль?</a>
            </div>
        </form>
    </div>

</body>

</html>